<div
  class='container d-flex justify-content-center align-items-center'
  style='min-height: 65vh;'
>
  <div class='create-post p-3 form d-flex flex-column w-75'>
    <div class='mb-3'>
      <header
        class='createPostHeader'
        id='createPostHeader'
        style='font-size: 32px;'
      >Create New Post</header>
      <div class='mb-3'>
        <label
          for='postTitle'
          class='form-label'
          style='font-size: 24px;'
        >Title</label>
        <input type='text' class='form-control' id='postTitle' />
      </div>
      <div class='form-floating'>
        <label for='floatingTextarea2' style='font-size: 24px;'>Comment</label>
        <textarea
          class='form-control'
          placeholder='Leave a comment here!'
          id='postComment'
          style='height: 150px; font-size: 18px;'
        ></textarea>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <button class='btn' id='newPostButton' type='button'>+ New Post</button>
    </div>
  </div>
</div>