<div class='container'>
  <div class='row'>
    <div id='left-column' class='col-md-2'></div>
    <!-- Offset column to center content -->
    <div id='main-content' class='col-12 col-md-8 login mt-5 p-3'>

      <form>

        <div class='mb-3'>
          <label for='first-name' class='form-label'>First Name</label>
          <input type='text' class='form-control' id='first-name' />
        </div>

        <div class='mb-3'>
          <label for='last-name' class='form-label'>Last Name</label>
          <input type='text' class='form-control' id='last-name' />
        </div>

        <div class='my-3'>
          <label for='email' class='form-label'>Email address</label>
          <input
            type='email'
            class='form-control'
            id='email'
            aria-describedby='emailHelp'
          />
          <div id='emailHelp' class='form-text'>We'll never share your email
            with anyone else.</div>
        </div>

        <div class='mb-3'>
          <label for='password' class='form-label'>Password</label>
          <input type='password' class='form-control' id='password' />
        </div>

        <!-- Additional form fields -->

        <!-- End of additional form fields -->
        <div id='signup-link' class='mb-3'>
          <a href='/Login' class='form-check-label'>Already have an account?
            Login here!</a>
        </div>

        <div id='submit-button' class='col-md-4 offset-md-4'>
          <!-- Centered column -->
          <button type='submit' class='btn btn-primary w-100'>Submit</button>
        </div>

      </form>
    </div>
    <div id='right-column' class='col-md-2'></div>
    <!-- Offset column to center content -->
  </div>
</div>