/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Root Variables */
:root {
  --headerBg: #161616; /* Header background color */
  --seccondary: #d1bda1; /* Secondary color */
  --bg: #272c33; /* Background color */
}

/* Body Styles */
body {
  background-color: var(--seccondary); /* Set background color */
  background-image: radial-gradient(
    #161616 1.4px,
    #d1bda1 1.4px
  ); /* Set background image as radial gradient */
  background-size: 28px 28px; /* Set background size */
}

/* Header Styles */
.header {
  background: var(--headerBg); /* Set header background color */
  color: #fff; /* Set text color */
}

/* Navbar Styles */
.navbar {
  font-family: 'Roboto', sans-serif; /* Set font family */
  text-transform: uppercase; /* Transform text to uppercase */
  text-decoration: none; /* Remove text decoration */
  font-size: 1.3rem; /* Set font size */
}

/* Navbar List Styles */
.navbar ul {
  display: inline-flex; /* Set display to inline flex */
}

.navbar ul li {
  margin: 0 35px; /* Set margin for list items */
}

/* Link Styles */
.navbar ul li a,
.h1El a {
  transition: 0.2s; /* Set transition duration */
  color: #fff; /* Set link color */
  text-decoration: none; /* Remove text decoration */
}

/* Hover Effect for Header Links */
.h1El a:hover {
  color: #d1bda1; /* Change text color on hover */
}

/* Hover Effect for Navbar Links */
.navbar ul li a:hover {
  color: #d1bda1; /* Change text color on hover */
}

.login {
  color: black;
  background-color: #fff;
  box-shadow: 15px 30px 0px grey;
  transition:
    background-color 0.7s,
    box-shadow 0.7s,
    color 0.7s; /* Adding transition for smoother effect */
}

#signup-link {
  font-size: 1rem;
}

.login:hover {
  background-color: #fff;
  box-shadow: -15px 30px 0px var(--bg);
  color: black;
}

.container {
  margin-bottom: 6rem;
}

.create-post {
  color: #fff;
  background-color: var(--bg);
  border-radius: 15px;
  box-shadow: 25px 40px 0px #fff;
}

.createPostHeader {
  font-size: 3rem;
  text-align: center;
}

#newPostButton {
  text-transform: uppercase;
  font-size: 1.3rem;
  transition:
    background-color 0.4s,
    color 0.4s,
    box-shadow 0.4s; /* Include box-shadow in the transition */
  height: 40px;
  font-weight: 600; /* Corrected font-weight */
  width: 190px;
  color: #fff;
  border-radius: 10px;
  background-color: var(--headerBg);
}

#newPostButton:hover {
  background-color: var(--seccondary);
  color: #fff;
  box-shadow: 0 0 10px 2px #fff; /* Add a box-shadow to create the highlight effect */
  outline: 2px solid transparent; /* Add transparent outline */
}

.extraUserInfo {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial;
  margin: auto;
  max-width: 20rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--bg);
}

.extraUserInfo h1 {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

/* Centering the post */
.post {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial;
  margin: auto;
  max-width: 1000px;
}

.post a {
  text-decoration: none;
}

/* Centering the post header */
.postHeader {
  text-align: center;
  color: var(--seccondary);
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--headerBg);
  font-weight: 800;
}

.card {
  transition:
    background-color 0.4s,
    color 0.4s,
    box-shadow 0.4s; /* Include box-shadow in the transition */
  box-shadow: -15px 20px 0 #fff;
  background-color: #272c33;
}

.card:hover {
  box-shadow: 15px 20px 0px grey;
  color: black;
}

.card-title {
  text-align: right;
  color: gray;
  font-size: 0.9rem;
}

.card-text {
  font-weight: 500;
  color: #fff;
}

.comment {
  background-color: #272c33;
}

.commentHeader {
  font-size: 700;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

/* Media query for screens 540px or below */
@media (max-width: 540px) {
  .card-title {
    font-size: 0.6rem; /* Decreased font size for smaller screens */
  }

  .card-text {
    font-size: 0.85rem; /* Decreased font size for smaller screens */
  }

  .postHeader {
    font-size: 1.1rem; /* Decreased font size for smaller screens */
  }

  .extraUserInfo h1 {
    font-size: 1rem; /* Decreased font size for smaller screens */
  }

  nav {
    flex-direction: column;
    align-items: flex-start; /* Adjust alignment as needed */
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start; /* Adjust alignment as needed */
  }

  nav ul li {
    margin-bottom: 40px;
  }
}
