/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Root Variables */
:root {
  --headerBg: #161616; /* Header background color */
  --seccondary: #d1bda1; /* Secondary color */
  --bg: #272c33; /* Background color */
}

/* Body Styles */
body {
  background-color: var(--seccondary); /* Set background color */
  background-image: radial-gradient(
    #161616 1.4px,
    #d1bda1 1.4px
  ); /* Set background image as radial gradient */
  background-size: 28px 28px; /* Set background size */
}
